<div class="contents">
  <h1>Angular Template集</h1>
  <div class="block">
    <pre>
      Angular で使用できるテンプレートを提供する。
      はじめにこのページではRoutingの使用例を載せていますが
      遷移先に他テストページがあります。
    </pre>
  </div>
  <!-- Routing の実装方法 -->
  <h2>Routing の実装方法</h2>
  <div class="block">
    <pre>
      SPAでは、サーバーにアクセスして新しいページを取得するのではなく
      特定のコンポーネントに対応した画面の一部を出したり消したりして、ユーザーへの表示を切り替えます。
    </pre>
    <h3>登場人物</h3>
    <ul>
      <li>app.config.ts</li>
      <li>app.routes.ts</li>
      <li>app.component.html</li>
    </ul>
  </div>
  <!-- Test -->
  <h2>Test</h2>
  <div class="block">
    <h3>パターン1</h3>
    <!-- 
      属性の説明
      - routerLink: app.routes.ts のRoutesに指定したURLのpath。ナビゲーション先。
      - routerLinkActive: active時にclassを付与する。
      - ariaCurrentWhenActive: aria-currentと等しいです。
    -->
    <a
      class="button"
      routerLink="/first"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      First
    </a>
    |
    <a
      class="button"
      routerLink="/second"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Second
    </a>
  </div>
  <div class="block">
    <h3>パターン2</h3>
    <!--
      ['user-profile', 123]は URLが/user-profile/123
      クエリパラメータを取得する
    -->
    <a
      class="button"
      [routerLink]="['user-profile', 123]"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      URLから値取得
    </a>
  </div>

  <div class="block">
    <h3>パターン3</h3>
    route guardに関して ...
  </div>
  <!-- 結果 -->
  <div class="block">
    <h3>出力コンポーネント</h3>
    <div class="result">
      <!-- ルーティングされたコンポーネントがここに出る -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
